# Python virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]

# Flask file
instance/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp

# Database files
*.db
*.sqlite3